%html
  %head
    %title Experimental Editor Brototype
    %link{"rel" => "stylesheet", "href" => "codemirror.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "monokai.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "editor.css", "type" => "text/css"}

    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :src => 'js/vendor/codemirror.js' }
    %script{ :src => 'js/vendor/codemirror-yaml-mode.js' }
    %script{ :src => 'js/vendor/js-yaml.min.js' }
    %script{ :src => 'js/editor.js' }
    / %script{ :src => "/js/vendor/require-jquery.js", 'data-main' => "js/editor"}

  %body
    #user
      - if logged_in?
        = "UR #{current_user.username}"
      - else
        %a{:href => "#{ENV['SECURE_SITE_ROOT']}/signup"} Signup
        %a{:href => "#{ENV['SECURE_SITE_ROOT']}/login"} Login
    #notices
      =styled_flash

    #content
      = yield
