%h2
  = title

- for game in games
  .game
    #title
      %a{:href => "#{ENV['SITE_ROOT']}/game/#{game.urls.last.slug}/view"}
        = game.versions.last.title
    #author
      = game.author.display_name
    #description
      = game.versions.last.description
