%h2
  = version.title

#author
  = game.author.display_name

#version
  = version.label

#timestamp
  = version.uploaded_at

#description
  = version.description

#changelog
  = version.changelog

#versions
  %h3 Versions of this game
  %ul
    - for version in game.versions.reverse
      %li
        %a{:href => "#{ENV['SITE_ROOT']}/game/#{game.urls.last.slug}/#{version.id}/view"}
          #{version.label} - #{version.title}
