%html
  %head
    %title Picaro
    %link{:rel => "stylesheet", :href => "/home.css", :type => "text/css"}
  %body

    #header
      #header-logo
        %h1
          %a{:href => "/"} Picaro
      #header-left
        - if logged_in?
          %ul
            %li
              %a{:href => "/games"} Games
            %li
              %a{:href => "/account"} Account
        - else
          %ul
            %li
              Miniature adventures.
      #header-right
        - if logged_in?
          %ul
            %li= "#{current_user.display_name}"
            %li
              %a{:href => "/logout"} Logout
        - else
          %ul
            %li
              %a{:href => "#{ENV['SECURE_SITE_ROOT']}/signup"} Signup
            %li
              %a{:href => "#{ENV['SECURE_SITE_ROOT']}/login"} Login

    #notices=styled_flash

    #content
      = yield
